<?xml version="1.0"?>
<!--
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\vx.x\Config 
-->

<configuration>
  <appSettings>
    <add key="MailServer" value="spdc-smtp1.africa-me.shell.com"/>
    <add key="MailUsername" value="mail username "/>
    <add key="MailPassword" value="mail password"/>
    <add key="MailFrom" value="isaac.bejide@shell.com"/>
    <add key="EnableErrorLogEmail" value="true"/>
    <add key="ErrorLogEmail" value="isaac.bejide@shell.com"/>

    <add key="SiteName" value="Business Production Improvement"/>
    <add key="SiteName.FieldVisit" value="SEPCiN(Offshore/Onshore Asset) PEC and Field Visit Request Form"/>
    <add key="SiteName.BI500" value="UIO BI500: Business Improvement Registration"/>
    <add key="SiteName.ManHour" value="Initiative Management Framework"/>
    <add key="SiteName.FlareWaiver" value="Flare Waiver - UIO-G Flaring/GOR Control Waiver"/>
    
    <add key="DevelopmentEnvironment" value="phc-v-01010"/>
    <add key="siteHostName" value="http://phc-v-01010:8044/rpi"/>
    <add key="cpdms.adminName" value="Isaac Bejide"/>
    <add key="cpdms.AdminMail" value="isaac.bejide@shell.com"/>
    <add key="cpdms.AdminExt" value="ext. 24772"/>
    <add key="cpdms.AdminUserName" value="NGIBE6"/>
    <add key="cpdms.BccAdmin" value="True"/>
    <add key="production.adminName" value="Tobin Kalada"/>
    <add key="production.AdminMail" value="kalada.tobin@shell.com"/>
    <add key="production.AdminExt" value="ext. 42548"/>
    <add key="production.AdminUserName" value="WAKTO1"/>
    <add key="production.SupportName" value="Jacob Ogogo"/>
    <add key="production.SupportMail" value="jacob.ogogo@shell.com"/>
    <add key="production.SupportExt" value="ext. 21592"/>
    <add key="production.SupportUserName" value="WAJOG6"/>
    <!--<add key="IWH" value="COMPLETE_STAFF_DETAILS"/>-->
    <add key="IWH" value="COMPLETE_STAFF_DETAILS@IWH_LINK.WORLD"/>
    <add key="DBLINK" value="@CPDMS_DLINK"/>

    <!-- Field visit -->
    <add key="AdminMenu.FieldVisit" value="adminProviderFieldVisit"/>
    <add key="UserMenu.FieldVisit" value="userProviderFieldVisit"/>
    <add key="ConfigurationMenu.FieldVisit" value="configurationProviderFieldVisit"/>

    <!-- Man Hour -->
    <add key="AdminMenu.ManHour" value="adminProviderManHour"/>
    <add key="UserMenu.ManHour" value="userProviderManHour"/>

    <!-- Flare Waiver -->
    <add key="AdminMenu.FlareWaiver" value="adminProviderFlrWaiver" />
    <add key="ApproverMenu.FlareWaiver" value="approverProviderFlrWaiver" />
    <add key="InitiatorMenu.FlareWaiver" value="initiatorProviderFlrWaiver" />

    <!-- BI 500 -->
    
    <add key="appNameId" value="Facility Field Visit"/>
    <add key="AppNameId.FlareWaiver" value="UIO-G Flaring/GOR Control Waiver" />
    
    <add key="CopyRight" value="Copyright © 2012 Production Site Visit"/>
    <add key="footerInfo" value="PEC - Field Visit Management System"/>
  </appSettings>
  <connectionStrings>
    <add name="productionConnectionString" connectionString="user id=cpdms;password=cpdms12345;data source= test10.world" providerName="System.Data.OracleClient"/>
    <!--<add name="productionConnectionString" connectionString="user id=PEC_PROD;password=PeC7cpdm;data source= BUSAPP_P.WORLD" providerName="System.Data.OracleClient"/>
    <add name="productionConnectionString" connectionString="user id=production;password=prod;data source= test10.world" providerName="System.Data.OracleClient"/>-->
  </connectionStrings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="false" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91"/>
        <add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
      </buildProviders>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows">
      <forms loginUrl="Default.aspx?Msg=nLg" name="authOpex" timeout="180" path="/" defaultUrl="taskPage.aspx?Msg=sWb" slidingExpiration="true"/>
    </authentication>
    <authorization>
      <deny users="?"/>
      <allow users="*"/>
    </authorization>
    <sessionState mode="InProc" cookieName="cookField" timeout="180"/>
    <!--<sessionState mode="InProc" cookieless="false" timeout="120"/>-->
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
 -->
    <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>
    </customErrors>
    
    <siteMap defaultProvider="adminProviderFieldVisit">
      <providers>
        <clear/>
        <!-- Field visit -->
        <add name="userProviderFieldVisit" type="System.Web.XmlSiteMapProvider" siteMapFile="mnuUserFieldVisit.sitemap"/>
        <add name="adminProviderFieldVisit" type="System.Web.XmlSiteMapProvider" siteMapFile="mnuAdminFieldVisit.sitemap"/>
        <add name="configurationProviderFieldVisit" type="System.Web.XmlSiteMapProvider" siteMapFile="mnuConfigurationFieldVisit.sitemap"/>

        <!-- Man Hour -->
        <add name="userProviderManHour" type="System.Web.XmlSiteMapProvider" siteMapFile="mnuUserManHour.sitemap"/>
        <add name="adminProviderManHour" type="System.Web.XmlSiteMapProvider" siteMapFile="mnuAdminManHour.sitemap"/>

        <!-- BI 500 -->

        <!-- Flare Waiver -->
        <add name="adminProviderFlrWaiver" type="System.Web.XmlSiteMapProvider" siteMapFile="mnuAdminFlrWaiver.sitemap" />
        <add name="approverProviderFlrWaiver" type="System.Web.XmlSiteMapProvider" siteMapFile="mnuApproverFlrWaiver.sitemap" />
        <add name="initiatorProviderFlrWaiver" type="System.Web.XmlSiteMapProvider" siteMapFile="mnuInitiatorFlrWaiver.sitemap" />
        
      </providers>
    </siteMap>
    
    <pages styleSheetTheme="DataWebControls" enableEventValidation="true" viewStateEncryptionMode="Always" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="uc1" tagName="Search4User" src="~/UserControl/userFinder/Search4User.ascx"/>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>

        <add tagPrefix="ManHr" src="~/App/ManHour/UserControl/ResourceUtilisation.ascx" tagName="resUtil"/>
        <add tagPrefix="ManHr" src="~/App/ManHour/UserControl/DetailResourceUtilisation.ascx" tagName="Detlutil"/>
        <add tagPrefix="ManHr" src="~/App/ManHour/UserControl/Report.ascx" tagName="Rprt"/>
        <add tagPrefix="ManHr" src="~/App/ManHour/UserControl/MyInitiatives.ascx" tagName="MyInits"/>
        <add tagPrefix="ManHr" src="~/App/ManHour/UserControl/MyInitiativesTreeView.ascx" tagName="MyInitsTrViw"/>
        <add tagPrefix="ManHr" src="~/App/ManHour/UserControl/ApproveSupport.ascx" tagName="aprvInit"/>
        <add tagPrefix="ManHr" src="~/App/ManHour/UserControl/DistrictFacilitiesOU.ascx" tagName="DistOuFacDis"/>

        <add tagPrefix="app" src="~/App/FlareWaiver/UserControl/Search/Search4User.ascx" tagName="Search" />
        <add tagPrefix="app" src="~/App/FlareWaiver/UserControl/AddUser.ascx" tagName="AddUser" />
        <add tagPrefix="app" src="~/App/FlareWaiver/UserControl/oRequestDetails.ascx" tagName="oRequestDetails" />
        <add tagPrefix="app" src="~/App/FlareWaiver/UserControl/oRequests.ascx" tagName="oRequests" />
        <add tagPrefix="app" src="~/App/FlareWaiver/UserControl/dateControl.ascx" tagName="dateControl" />
        <add tagPrefix="app" src="~/App/FlareWaiver/UserControl/TimePicker.ascx" tagName="TimePicker" />
        <add tagPrefix="app" src="~/App/FlareWaiver/UserControl/supportContact.ascx" tagName="supportContact" />
        
        <add tagPrefix="fldVst" src="~/App/FieldVisit/UserControl/SEPCIN/activityHeader.ascx" tagName="activityHeader" />
        <add tagPrefix="fldVst" src="~/App/FieldVisit/UserControl/SEPCIN/activityTimeLineSummary.ascx" tagName="activityTimeLineSummary" />
        <add tagPrefix="fldVst" src="~/App/FieldVisit/UserControl/SEPCIN/AllPECRequestsApproved.ascx" tagName="AllPECRequestsApproved" />
        <add tagPrefix="fldVst" src="~/App/FieldVisit/UserControl/SEPCIN/AllPECRequestsPendingApproval.ascx" tagName="AllPECRequestsPendingApproval" />
        <add tagPrefix="fldVst" src="~/App/FieldVisit/UserControl/SEPCIN/Approvers.ascx" tagName="Approvers" />
        <add tagPrefix="fldVst" src="~/App/FieldVisit/UserControl/SEPCIN/locFieldLocations.ascx" tagName="locFieldLocations" />
        <add tagPrefix="fldVst" src="~/App/FieldVisit/UserControl/SEPCIN/MyApprovedPECRequests.ascx" tagName="MyApprovedPECRequests" />
        <add tagPrefix="fldVst" src="~/App/FieldVisit/UserControl/SEPCIN/MyPecRequests.ascx" tagName="MyPecRequests" />
        <add tagPrefix="fldVst" src="~/App/FieldVisit/UserControl/SEPCIN/PecRequestInfo.ascx" tagName="PecRequestInfo" />
        <add tagPrefix="fldVst" src="~/App/FieldVisit/UserControl/SEPCIN/personnelInfoDetails.ascx" tagName="personnelInfoDetails" />
        <add tagPrefix="fldVst" src="~/App/FieldVisit/UserControl/SEPCIN/personnelInformationList.ascx" tagName="personnelInformationList" />
        <add tagPrefix="fldVst" src="~/App/FieldVisit/UserControl/SEPCIN/statusSelectorControl.ascx" tagName="statusSelectorControl" />
        <add tagPrefix="fldVst" src="~/App/FieldVisit/UserControl/SEPCIN/vendorCallOutInfo.ascx" tagName="vendorCallOutInfo" />

        <add tagPrefix="fldVst" src="~/App/FieldVisit/UserControl/FPEC/allRequestsApproved.ascx" tagName="allRequestsApproved" />
        <add tagPrefix="fldVst" src="~/App/FieldVisit/UserControl/FPEC/allRequestsPendingApproval.ascx.ascx" tagName="allRequestsPendingApproval" />
        <add tagPrefix="fldVst" src="~/App/FieldVisit/UserControl/FPEC/approvedFieldVisitRequests.ascx" tagName="approvedFieldVisitRequests" />
        <add tagPrefix="fldVst" src="~/App/FieldVisit/UserControl/FPEC/approvedFieldVisitRequestsByApprover.ascx" tagName="approvedFieldVisitRequestsByApprover" />
        <add tagPrefix="fldVst" src="~/App/FieldVisit/UserControl/FPEC/approvedFieldVisitRequestsBySuperintendentApprover.ascx" tagName="approvedFieldVisitRequestsBySuperintendentApprover" />
        <add tagPrefix="fldVst" src="~/App/FieldVisit/UserControl/FPEC/approverSignoff.ascx" tagName="approverSignoff" />
        <add tagPrefix="fldVst" src="~/App/FieldVisit/UserControl/FPEC/fieldVisitInformation.ascx" tagName="fieldVisitInformation" />
        <add tagPrefix="fldVst" src="~/App/FieldVisit/UserControl/FPEC/FieldVisitQuestionaire.ascx" tagName="FieldVisitQuestionaire" />
        <add tagPrefix="fldVst" src="~/App/FieldVisit/UserControl/FPEC/fieldVisitRequestsPendingMyApproval.ascx" tagName="fieldVisitRequestsPendingMyApproval" />
        <add tagPrefix="fldVst" src="~/App/FieldVisit/UserControl/FPEC/fieldVisitRequestsPendingSuperintendentApproval.ascx" tagName="fieldVisitRequestsPendingSuperintendentApproval" />
        <add tagPrefix="fldVst" src="~/App/FieldVisit/UserControl/FPEC/pendingFieldVisitRequests.ascx" tagName="pendingFieldVisitRequests" />
        <add tagPrefix="fldVst" src="~/App/FieldVisit/UserControl/FPEC/viwFunctionalAcctMembers.ascx" tagName="viwFunctionalAcctMembers" />
                
        <add tagPrefix="bi500" src="~/App/BI500/UserControl/oPendingRequests.ascx" tagName="oPndgRqst" />
        <add tagPrefix="bi500" src="~/App/BI500/UserControl/oApprovedRequests.ascx" tagName="oAprdgRqst" />
      </controls>
    </pages>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
    </httpHandlers>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </handlers>
  </system.webServer>
  
</configuration>