//Variables


//== Colors
//
//## Main QSF text and background colors

$primary-bg:					#ffffff;
$secondary-bg:					#f3f5f7;
$ternary-bg:					#2a2d33;

$border-color: #e2e4e7;


$text-primary-color:			#000000;
$text-secondary-color:			#555555;
$text-ternary-color:			#2d3e50;

$link-primary-color:			#0487c4;
$link-secondary-color:			#ffffff;
$link-ternary-color:			#818692;
$link-hover-color:				#036c9c;
$link-secondary-hover-color:	#49c3fb;


//== Typography
//
//## QSF Typography

$font-family: Helvetica, Arial, sans-serif;

$font-size-xs:	10px;
$font-size-sm:	12px;
$font-size-md:	13px;
$font-size-lg:	16px;
$font-size-xl:	25px;


//== Buttons
//
//## QSF Buttons

$btn-default-bg:		#2a2d33;
$btn-default-hover-bg:	#505156;
$btn-primary-bg:		#ee5315;
$btn-primary-hover-bg:	#c2410e;


//== SearchBox
//
//##

$sb-bg:			#f5f7f8;
$sb-hover-bg:	#cad0d6;